---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <strong>Spots found with <b>{tag}</b></strong>
  <div class="rated-spots">
    <ul>
      {posts.map((post) =>
        <BlogPost
            url={'/posts/' + post.slug}
            title={post.data.title}
            cover={post.data.cover}
            coverAlt={post.data.coverAlt}
            location={post.data.location}
            amenities={post.data.amenities}
        />
      )}
    </ul>
  </div>
</BaseLayout>

<style lang="scss">
  @import "../../styles/variables.scss";

  ul {
    list-style: none;
    padding: 0;
    margin: $spacing-6 $spacing-6 $spacing-12;
  }
</style>