---
import EventDialog from "./EventDialog.astro";
const { allEvents } = Astro.props;
---
<strong>Upcoming events</strong>
<ul class="events-container">
  {allEvents.map((event, index) =>
    <li class="event-card">
      <div class="event-date-box">
        <span class="event-day">{event.data.pubDate.getDate()}</span>
        <span class="event-month">{event.data.pubDate.toLocaleString('en-US', { month: 'short' })}</span>
      </div>
      <div class="event-content">
        <div class="event-title">{event.data.title}</div>
        <div class="event-date">
          <span class="material-symbols-outlined">schedule</span>
          <span>{event.data.pubDate.toDateString()}</span>
        </div>
        <div class="event-location">
          <span class="material-symbols-outlined">location_on</span>
          <span>{event.data.location}</span>
        </div>
        <div class="event-link">
          <a id=`dialog-${index}`>More info</a>
        </div>
      </div>
    </li>
    <EventDialog
      title={event.data.title}
      cover={event.data.cover}
      index={index}
      event={event}
    />
  )}
</ul>
<div class="more-events">
  <a href="#">
    More events
  </a>
</div>

<style lang="scss">
    @import "../styles/variables.scss";

    .events-container {
      margin: $spacing-6 $spacing-6 0;
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      .event-card {
        width: 100%;
        background: #f9f9f9;
        opacity: 0.92;
        border: 1px solid #ddd;
        padding: $spacing-5;
        box-sizing: border-box;
        display: flex;
        &:first-child {
           border-top-left-radius: 4px;
           border-top-right-radius: 4px;
         }
        .event-date-box {
          background-color: $cyan;
          color: white;
          height: 3rem;
          display: flex;
          flex-direction: column;
          align-self: center;
          margin-right: 1rem;
          border-radius: 0.5rem;
          flex: 0 0 80px;
          padding: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          .event-day {
            font-size: $spacing-6;
          }
          .event-month {
            font-size: $spacing-4;
          }
        }
        .event-content {
          display: flex;
          flex-direction: column;
          .event-title {
            font-size: $spacing-5;
            font-weight: 300;
            text-align: left;
            margin-bottom: 10px;
            color: $cyan;
          }
          .event-date span:last-child, .event-location span:last-child {
            vertical-align: super;
          }
          .event-date, .event-location {
            font-size: $spacing-3;
            text-align: left;
            color: $light-text-color;
          }
          .event-link {
            text-align: left;
            cursor: pointer;
            a {
              text-decoration: none;
              color: $cyan;
              font-size: $spacing-3;
            }
          }
        }
      }
    }

    .more-events {
      background: #f9f9f9;
      opacity: 0.92;
      padding: $spacing-4;
      margin: 0 $spacing-6 $spacing-6;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      & a {
        color: $light-text-color;
        text-decoration: none;
      }
    }
</style>