---
import BlogPost from "./BlogPost.astro";
const { allPosts } = Astro.props;
---

<h6>Top rated spots to ride</h6>
<div>
  <ul>
  {allPosts.map((post) =>
    <BlogPost
      url={post.url}
      title={post.frontmatter.title}
      image={post.frontmatter.image}
      location={post.frontmatter.location}
      amenities={post.frontmatter.amenities}
    />
  )}
  </ul>
  <a href="#">
    Find more spots here
  </a>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  div {
    display: flex;
    flex-direction: column;
    margin: $spacing-6;

    & ul {
      list-style: none;
      padding: 0;
    }

    & a {
      color: $white;
      text-decoration: none;
    }
  }
</style>