---
import BlogPost from "./BlogPost.astro";
const { allPosts } = Astro.props;
---

<strong>Top rated spots to ride</strong>
<div class="rated-spots">
  <ul>
  {allPosts.map((post) =>
    <BlogPost
      url={'/posts/' + post.slug}
      title={post.data.title}
      cover={post.data.cover}
      coverAlt={post.data.coverAlt}
      location={post.data.location}
      amenities={post.data.amenities}
    />
  )}
  </ul>
  <div class="more-spots">
    <a href="/tags/">
      More spots
    </a>
  </div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .rated-spots {
    display: flex;
    flex-direction: column;
    margin: $spacing-6 $spacing-6 $spacing-12;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & .more-spots {
      display: flex;

      & a {
        color: $light-text-color;
        text-decoration: none;
        background: #f9f9f9;
        opacity: 0.92;
        padding: $spacing-4;
        border-bottom-left-radius: $rounded-border;
        border-bottom-right-radius: $rounded-border;
        width: 100%;
      }
      }
  }
</style>