---
import { PLACES } from '../constants';
---

<h6>Top rated spots to ride</h6>
<div class="grid-container">
  {PLACES.map((place) =>
    <a href={place.postUrl} class="grid-item">
      <img src={place.imageUrl} alt={place.title} class="thumbnail">
      <h3 class="title">{place.title}</h3>
      <div class="description">
        <p>{place.location}</p>
        <p>
          {place.amenities.map((amenity) =>
              <span class="material-symbols-outlined" id={amenity}>{amenity}</span>
          )}
        </p>
      </div>
    </a>
  )}
  <a href="#" class="find-more">
    Find more spots here
  </a>
</div>