---
import BaseLayout from './BaseLayout.astro';
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="headline">
    <h2>{frontmatter.description}</h2>
  </div>

  <article>
    <Image src={frontmatter.cover} alt={frontmatter.coverAlt} />
    <p>By {frontmatter.author}, on {frontmatter.pubDate.toDateString()} · {frontmatter.readTime}</p>
    <slot />

    <div class="tags">
      {frontmatter.tags.map((tag) => (
        <p><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </article>
</BaseLayout>

<style lang="scss">
    @import "../styles/tags.scss";
    @import "../styles/variables.scss";

    .headline {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
    }

    :global(article.dark), :global(blockquote.dark), :global(p.dark)  {
      background: $bg-dark;
      color: white;
    }

    :global(.tags p.dark) {
      background: hsla(257, 31%, 11%, 1);
    }

    :global(.tags p > a.dark)  {
      color: #FFBD2E;
    }

    article {
      margin: 0 1.5rem 1.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #f9f9f9;
      color: $light-text-color;
      border-radius: $rounded-border;
      opacity: $bg-transparency;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: $rounded-border;

      }
      :global(img + p) {
        text-align: left;
        color: gray;
        margin-top: $spacing-2;
      }

      :global(h1, h2, h3) {
        margin: 0 0 0.35em;
      }
      :global(h1) {
        font-size: $spacing-10;
      }
      :global(h2) {
        font-size: $spacing-6;
      }
      :global(h3) {
        font-size: $spacing-5;
        font-weight: 400;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      :global(p) {
        margin: 0 0 1.15em;
        text-align: justify;
        font-weight: 300;
        font-size: $spacing-3;
        line-height: 1.5;
      }
      :global(blockquote) {
        background: linear-gradient(45deg, #eddbff, transparent);
        color: $light-text-color;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        border-radius: 4px;
      }
      :global(blockquote){
        margin: 1rem 0;
        font-size: $spacing-5;
        width:60%;
        font-style:italic;
        color: #555555;
        padding:1.2em 30px 1.2em 75px;
        border-left:8px solid $cyan;
        line-height:1.6;
        position: relative;
        background:#EDEDED;
      }
      :global(blockquote)::before{
        content: "\201C";
        color: $cyan;
        font-size:4em;
        position: absolute;
        left: 10px;
        top:-10px;
      }
      :global(blockquote)::after{
        content: '';
      }
    }
</style>